<div class="people">
    <div ng-repeat="item in tab.content" class="transport-list transport-trains">
        <div class="item people-item">
            <div class="col-10">
                <div class="item-name usercheckin col-2-b">
                    <i class="icon icon-{{item.type}}"></i>
                    <a class="user-avatar" href="https://2event.com/profiles/{{item.user.id}}" target="_blank" style="background-image:url({{item.user.avatar}})">
                        {{item.user.firstName}} {{item.user.lastName}}
                    </a>
                    <a class="user-name" href="https://2event.com/profiles/{{item.user.id}}" target="_blank">
                        {{item.user.firstName}} {{item.user.lastName}}
                    </a>
                    <p class="user-work">
                        {{item.user.company}} <br/> {{item.user.position}}
                    </p>
                </div>
                <div class="col-8-b">
                    <div class="col-10">
                        <div class="item-routes col-7-b">
                            <div class="item-route col-10">
                                <div class="item-way col-4-b">
                                    <ul>
                                        <li>{{item.cityFrom.name}}</li>
                                        <li>{{item.cityTo.name}}</li>
                                    </ul>
                                </div>
                                <div class="item-date col-2-2-b">
                                    <p>{{item.startTime * 1000 | date:'dd-MM-yyyy'}} <b>{{item.startTime * 1000 | date:'HH:mm'}}</b></p>
                                    <p>{{item.finishTime * 1000 | date:'dd-MM-yyyy'}} <b>{{item.finishTime * 1000 | date:'HH:mm'}}</b></p>
                                </div>
                                <div class="item-inroad col-2-b hide-m">
                                    {{(item.finishTime-item.startTime) * 1000 | millSecondsToTimeString}}
                                </div>
                            </div>
                        </div>
                        <div class="item-seats col-3-b">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>